body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#loginForm{
    width: 500px; 
    margin-top: 3em;
}

#loginForm h1 {
    text-align: center;
    color: #0d865c;
}

.btn-primary, .btn-primary:hover{
    border-color: #0d865c;
    background-color: #0d865c;
}

.btn-primary:focus{
    border-color: #0d865c;
    background-color: #0d865c;
}

a{
    color: #0d865c;
    text-decoration: none;
}

a:hover{
    color: #0d865c;
}

#forgotPassword{
    margin-left: 8.5em;
}

.form-check-input:checked{
    border-color: #0d865c;
    background-color: #0d865c;
}

.verification-error{
    font-size: 0.9em;
    text-align: center;
    color: #DC3545;
    margin-top: 1em;
}

.password-error{
    font-size: 0.9em;
    text-align: center;
    color: #DC3545;
    margin-top: 1em;
}

.signin-password-error{
    font-size: 0.7em;
    color: #DC3545;
    margin-top: 0;
    margin-bottom: 0;
}

.signin-password-valid{
    font-size: 0.7em;
    color: #0d865c;
    margin-top: 0;
    margin-bottom: 0;
}

.top{
    margin-top: 1em;
}

.fas.fa-check{
    margin-left: 0.5em;
}
.fas.fa-times{
    margin-left: 0.5em;
    color: #DC3545;
}